#work {
  position: absolute;
  top: 10svh;
  height: 90svh;
  width: 100vw;
  border: 1px solid rgba(white, 0.15);
  background-color: var(--bg-primary);
}

/* SwiperJS Setup */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 30%;
}

/* Swiper Buttons */
.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: auto;
  height: auto;
  margin-top: unset;
  z-index: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  all: unset;
}

.swiper-button-prev > span,
.swiper-button-next > span {
  transition: translate 300ms ease-in-out;
}

.swiper-button-prev:hover span {
  translate: -15px;
}

.swiper-button-next:hover span {
  translate: 15px;
}

/* Project Description */
.project-description {
  transition:
    opacity 500ms ease-in-out,
    translate 300ms ease-in-out;
}

.project-description[data-description-active='active'] {
  opacity: 1;
}

.project-description[data-description-active='inactive'] {
  opacity: 0;
}

/* Project Links */
.project-link {
  border: 1px solid var(--text-neon);
  color: var(--text-neon);
}

.number-span,
.skill-box {
  transition: transform 500ms ease-in-out;
}

.number-span[data-status='active'],
.skill-box[data-status='active'] {
  translate: 0 0;
}

.number-span[data-status='up'],
.skill-box[data-status='up'] {
  transform: translate(0, -100%);
}

.number-span[data-status='down'],
.skill-box[data-status='down'] {
  transform: translate(0, 100%);
}

.number-span[data-status='to-be-active-up'],
.skill-box[data-status='to-be-active-up'] {
  transition: none;
  transform: translate(0, -100%);
}

.number-span[data-status='to-be-active-down'],
.skill-box[data-status='to-be-active-down'] {
  transition: none;
  transform: translate(0, 100%);
}

/* For skill boxes */
/* .skill-box[data-status="up"] {
  transform: translate(-100%, 0);
}

.skill-box[data-status="down"] {
  transform: translate(100%, 0);
}

.skill-box[data-status="to-be-active-up"] {
  transition: none;
  transform: translate(-100%, 0);
}

.skill-box[data-status="to-be-active-down"] {
  transition: none;
  transform: translate(100%, 0);
} */
