/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: #051923;
  --color-neon: #6fffe9;
  --color-cyan: #62b6cb;
  --color-blue: #00a6fb;
}

body {
  background-color: var(--color-primary);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}